@model SpiderMan.Entity.Site
@using sharp_net.Mvc;
@using sharp_net.Repositories;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <ol>
        <li>
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </li>
        <li>
            @Html.LabelFor(model => model.Act)
            @Html.DropDownListFor(model => model.Act, ((eAct)0).ToSelectListItems())
        </li>
        <li>
            @Html.LabelFor(model => model.Link)
            @Html.EditorFor(model => model.Link)
            @Html.ValidationMessageFor(model => model.Link)
        </li>
        <li>
            @Html.LabelFor(model => model.GrabInterval)
            @Html.EditorFor(model => model.GrabInterval)
            @Html.ValidationMessageFor(model => model.GrabInterval)
        </li>

    </ol>
    <p>
        <input type="submit" value="Create" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
