@model IEnumerable<SpiderMan.Models.Site>
@using sharp_net.Repositories;

@{
    ViewBag.Title = "Index";
}

<h2>Sites</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    @foreach (var item in Model) {
        <tr>
            <td><a target="_blank" href="@item.Link">@item.Name</a></td>
            <td>@((eAct)item.Act)</td>
            <td>@item.GrabInterval</td>
            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
