@using sharp_net.Mvc
<!DOCTYPE html>
<html ng-app="spiderman">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SpiderMan</title>
    <link href="/Images/spidertocat.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/master.css")
</head>
<body>
    <header>
        <a class="site-title" href="/">SpiderMan</a>
        <nav>
            <ul id="menu">
                <li class="@Html.IsSelected("Task", null)">@Html.ActionLink("TaskBoard", "Index", "Task")</li>
                <li class="@Html.IsSelected("Site", null)">@Html.ActionLink("Site", "Index", "Site")</li>
                <li class="@Html.IsSelected("TaskModel", null)">@Html.ActionLink("TaskModel", "Index", "TaskModel")</li>
                <li class="@Html.IsSelected("Assist", "Grabscript")">@Html.ActionLink("Grabscript", "Grabscript", "Assist")</li>
                <li class="@Html.IsSelected("Assist", "Creattask")">@Html.ActionLink("Creattask", "Creattask", "Assist")</li>
            </ul>
        </nav>
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <footer>
            &copy; @DateTime.Now.Year - I am SpiderMan, bitch!
        </footer>
    </header>
    <div id="body">@RenderBody()</div>

    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
</body>
</html>