@model IEnumerable<SpiderMan.Entity.TaskModel>
@using SpiderMan.Entity
@using sharp_net.Repositories;

@{
    ViewBag.Title = "Index";
}

<h2>TaskModels</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SourceCode_CommandType</th>
            <th>ArticleType</th>
            <th>Site</th>
            <th>Interval</th>
            <th>Act</th>
            <th>UrlParams</th>
            <th>WithoutJQuery</th>
            <th>WithUnderscore</th>
            <th>WithDate</th>
            <th>IsMobile</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@(item.SourceCode)_@((eCommandType)item.CommandType)</td>
            <td>@((eArticleType)item.ArticleType)</td>
            <td>@item.Site</td>
            <td>@item.Interval</td>
            <td>@((eAct)item.Act)</td>
            <td>
                @if (item.UrlParams != null) {
                    foreach (var url in item.UrlParams) {
                        <a target="_blank" href="@url">url</a>
                    }
                }
            </td>
            <td>@item.WithoutJquery</td>
            <td>@item.WithUnderscore</td>
            <td>@item.WithDate</td>
            <td>@item.IsMobile</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>