@model IEnumerable<SpiderMan.Models.TaskModel>
@using SpiderMan.Models
@using sharp_net.Repositories;

@{
    ViewBag.Title = "Index";
}

<h2>TaskModels</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    @foreach (var item in Model) {
        <tr>
            <td><a target="_blank" href="@item.Url">@item.Name</a></td>
            <td>@item.Site - @item.Command</td>
            <td>@((eArticleType)item.ArticleType)</td>
            <td>@((eCommandType)item.CommandType)</td>
            <td>@item.Interval</td>
            <td>@((eAct)item.Act)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
